@import "tailwindcss";

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: #fafafa;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #0a0a0a;
  }
}
